.profileCard{
    top:0px;
}
.profilePage{
    margin:10px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.profileSection{
    margin-top: 100px;
}
.dialog{
    width: 100%;
}
md2-dialog{
    /*min-width: 100px;*/
}

.mainHeader {
    margin: 0px;
    padding: 0px;
}