<!--login Header-->
<app-login-header></app-login-header>

<!--login card-->
<div *ngIf="loading" class="progressBar">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
<md-grid-list cols="1" rowHeight="650px">
  <md-grid-tile>
    <md-card class="loginCard">
      <md-card-title>
        LOGIN
      </md-card-title>
      <md-card-content>

        <form [formGroup]="userForm" (ngSubmit)="login()">
          <!--Email input-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex="35px">
              <i class="material-icons formIcons">mail</i>
            </div>
            <div fxFlex>
              <md-input-container class="full-width">
                <input mdInput formControlName="email" type="text" class="validate" placeholder="Email" />
                <md-hint align="start" class="full-width">
                  <div *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched" class="errorStyle">
                    Email is required
                  </div>
                  <div *ngIf="userForm.get('email').hasError('pattern') && userForm.get('email')" class="errorStyle">
                    Invalid email
                  </div>
                  <!--<app-control-messages [control]="userForm.controls.email" class="errorStyle"></app-control-messages>-->
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--passowrd input-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex="35px">
              <i class="material-icons formIcons">lock</i>
            </div>
            <div fxFlex>
              <md-input-container class="full-width">
                <input mdInput id="password" type="password" class="validate" formControlName="password" placeholder="Password">
                <md-hint align="start" class="full-width">
                  <div *ngIf="userForm.get('password').hasError('required') && userForm.get('password').touched" class="errorStyle">
                    Password is required
                  </div>
                  <div *ngIf="userForm.get('password').hasError('pattern')" class="errorStyle">
                    Invalid password. Password must be at least 6 characters long, and contain a number
                  </div>
                  <!--<app-control-messages [control]="userForm.controls.password" class="errorStyle"></app-control-messages>-->
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--sign in button-->
          <div fxLayout="row">
            <div fxFlex="100">
              <button md-raised-button color="primary" type="submit" class="full-width largeBtn" [disabled]="!userForm.valid">Sign in</button>
            </div>
          </div>
        </form>

        <!--forgot Password button-->
        <div fxLayout="row">
          <div fxFlex="100" fxLayoutAlign="center center">
            <button md-button color="primary" (click)="forgotPassword()" class="forgotBtn">Forgot Password ?</button>
          </div>
        </div>

        <!--Sign Up button-->
        <div fxLayout="row">
          <div fxFlex>
                        <button md-button color="primary" (click)="verifyEmail()" class="full-width largeBtn googleBtn"> Sign Up</button>        
          </div>
        </div>
      </md-card-content>
    </md-card>
    <!--card-ends-->
  </md-grid-tile>
</md-grid-list>

<!--footer-->
<app-login-footer></app-login-footer>