md-card {
    width: 500px;
     margin-left: 10px;
    margin-right: 10px;
       border-radius: 5px;
    box-shadow: 0px 0px 20px gray;
}
.formIcons {
    padding-bottom: 30px;
    color: gray;
}
.closeBtn{
    position: absolute;
  right: 20px;
  top: 20px;
  }


body{
    align-items: none;
}

.loading {
    position: fixed;
    z-index: 100000;
    background-color: black;
    display: block;
    height: 100%;
    width: 100%;
    /*padding: 50%;*/
    padding-left: 47%;
    opacity: .5;
    padding-top: 10%;
}

form {
    font-size: 17px;
}

button {
    font-size: 15px;
}

md-card-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
}

.full-width {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.errorStyle {
    position: absolute;
    font-size: 12px;
    transition: all .7s;
    color: #F44336;
}

@media (min-width: 10px) {
    md-card {
        top: 56px;
    }
    .loading {
        padding-left: 40%;
        padding-top: 50%;
    }
}

@media (min-width: 370px) {}


/*for Medium screens*/

@media (min-width: 480px) {
    md-card {
        top: 0px;
    }
    .loading {
        padding-left: 40%;
        padding-top: 50%;
    }
}


/*for large screens*/

@media (min-width: 768px) {
    md-card {
        top: 0px;
    }
    .loading {
        padding-left: 47%;
        padding-top: 10%;
    }
}