md-card {
    width: 500px;
}

.formIcons {
    padding-bottom: 30px;
    color: gray;
}

form {
    font-size: 17px;
}

button {
    font-size: 15px;
}

md-card-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
}

.full-width {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.errorStyle {
    position: absolute;
    font-size: 12px;
    transition: all .7s;
    color: #F44336;
}

.googleBtn {
    background-color: #F44336;
    color: white;
}

.fbBtn {
    background-color: #3f51b5;
    color: white;
}