<div *ngIf="loading" class="loading">
  <md-spinner></md-spinner>
</div>
<!--login Header-->
<app-login-header></app-login-header>

<!--login card-->
<md-grid-list cols="1" rowHeight="470px">
  <md-grid-tile>
    <md-card>
      <md-card-title>
        Forgot Password
        <a md-icon-button class="closeBtn" (click)=onBack()>
          <i class="material-icons">close</i>
        </a>
      </md-card-title>
      <md-card-content>
        <form [formGroup]="userForm" (ngSubmit)="onResetLink()">

          <!--Email input-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex="35px">
              <i class="material-icons formIcons">email</i>
            </div>
            <div fxFlex>
              <md-input-container class="full-width">
                <input mdInput formControlName="email" id="email" type="text" class="validate" placeholder="Email" />
                <md-hint align="start" class="full-width">
                  <div *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched" class="errorStyle">
                    Email is required
                  </div>
                  <div *ngIf="userForm.get('email').hasError('pattern') && userForm.get('email')" class="errorStyle">
                    Invalid email
                  </div>
                  <!--<app-control-messages [control]="userForm.controls.email" class="errorStyle"></app-control-messages>-->
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--Reset Password button-->
          <div>
            <button md-raised-button color="primary" class="full-width" [disabled]="!userForm.valid">Send Reset Link</button>
          </div>

        </form>
      </md-card-content>
    </md-card>
    <!--card-ends-->
  </md-grid-tile>
</md-grid-list>

<!--footer-->
<app-login-footer></app-login-footer>