<div *ngIf="loading" class="loading">
  <md-spinner></md-spinner>
</div>
<!--login Header-->
<app-login-header></app-login-header>

<!--Reset Password card-->
<md-grid-list cols="1" rowHeight="600">
  <md-grid-tile>
    <!--card Start-->
    <md-card class="loginCard blue-grey-text">
      <md-card-title>Password Reset</md-card-title>
      <md-card-content>
        <form class="col s12" [formGroup]="userForm" (ngSubmit)="onSubmit()">

          <!--Email-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex>
              <i class="material-icons formIcons">email</i>
            </div>
            <div fxFlex="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="email" id="email" type="text" class="validate" value={{emailId}} placeholder="Email" />
                <md-hint align="start" class="full-width">
                  <!--<app-control-messages [control]="userForm.controls.email" class="errorStyle"></app-control-messages>-->
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--passowrd-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex>
              <i class="material-icons formIcons">lock</i>
            </div>
            <div fxFlex="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="password" id="password" type="password" class="validate" #password (blur)="passwordValue(password.value)"
                  placeholder="Password" />
                <md-hint align="start" class="full-width">
                  <div *ngIf="userForm.get('password').hasError('required') && userForm.get('password').touched" class="errorStyle">
                    Password is required
                  </div>
                  <div *ngIf="userForm.get('password').hasError('pattern')" class="errorStyle">
                    Invalid password. Password must be at least 6 characters long, and contain a number
                  </div>
                  <!--<app-control-messages [control]="userForm.controls.password" class="errorStyle"></app-control-messages>-->
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--confirm password-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex>
              <i class="material-icons formIcons">lock</i>
            </div>
            <div fxFlex="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="conPassword" id="conPassword" type="password" class="validate" #conPassword (keyup)="conPasswordValue(conPassword.value,password.value)"
                  placeholder="Confirm Password" />
                <md-hint align="start" class="full-width">
                  <div *ngIf="userForm.get('conPassword').hasError('required') && userForm.get('conPassword').touched" class="errorStyle">
                    Confirm Password is required
                  </div>
                  <div *ngIf="passwordMatchWarning" class="errorStyle">{{passwordMatchWarning}}</div>
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--Reset Button-->
          <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="48">
              <button md-raised-button color="primary" class="full-width" type="submit" id="resetBtn" [disabled]="!userForm.valid">Reset</button>
            </div>
            <div fxFlex></div>
            <div fxFlex="48">
              <button md-raised-button color="warn" (click)=onBack() class="full-width">Cancel</button>
            </div>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>

<!--footer-->
<app-login-footer></app-login-footer>