md-card {
    width: 500px;
}

.formIcons {
    padding-bottom: 30px;
    color: gray;
}
md-card{
    border-radius: 5px;
    box-shadow: 0px 0px 40px gray;
}

.loading {
    position: fixed;
    z-index: 100000;
    background-color: black;
    display: block;
    height: 100%;
    width: 100%;
    opacity: .5;
}

form {
    font-size: 17px;
}

button {
    font-size: 15px;
}

md-card-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
}

.full-width {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.errorStyle {
    position: absolute;
    font-size: 12px;
    transition: all .7s;
    color: #F44336;
}

.googleBtn {
    background-color: #F44336;
    color: white;
}

.fbBtn {
    background-color: #3f51b5;
    color: white;
}


/*for smaller screens*/

@media (min-width: 10px) {
    md-card {
        top: 56px;
    }
     .loading {
        padding-left: 40%;
        padding-top: 50%;
    }
}

@media (min-width: 370px) {}


/*for Medium screens*/

@media (min-width: 480px) {
    md-card {
        top: 0px;
    }
      .loading {
        padding-left: 40%;
        padding-top: 50%;
    }
}


/*for large screens*/

@media (min-width: 768px) {
    md-card {
        top: 0px;
    }
       .loading {
        padding-left: 47%;
        padding-top: 10%;
    }
}