<span>I am</span>
<md-input-container class="full-width">
  <input mdInput type="text" class="validate" placeholder="Display Name" />
</md-input-container>
<!--
<div fxLayout="row" fxLayoutAlign="start end">
  <div fxFlex>
    <md2-datepicker placeholder="Date Of Birth" [(ngModel)]="date" class="full-width">date</md2-datepicker>
  </div>
</div>-->

<span>my email Id is</span>
<md-input-container class="full-width">
  <input mdInput type="text" class="validate" placeholder="Primary Email" />
</md-input-container>

<span>and my alternate email is</span>
<md-input-container class="full-width">
  <input mdInput type="text" class="validate" placeholder="Alternate Email" />
</md-input-container>

<span> you can call me on this number</span>
<md-input-container class="full-width">
  <input mdInput type="text" class="validate" placeholder="Primary Contact No." />
</md-input-container>

<span>or</span>
<md-input-container class="full-width">
  <input mdInput type="text" class="validate" placeholder="Alternate Contact No." />
</md-input-container>

<span>I live in</span>
<md-input-container class="full-width">
  <input mdInput type="text" class="validate" placeholder="District" />
</md-input-container>

<md-input-container class="full-width">
  <input mdInput type="text" class="validate" placeholder="State" />
</md-input-container>

<span>and my pincode is</span>

<md-input-container class="full-width">
  <input mdInput type="text" class="validate" placeholder="Pincode" />
</md-input-container>