<!--<div *ngIf="loading" class="loading">
  <md-spinner></md-spinner>
</div>-->
<!--login Header-->
<app-login-header></app-login-header>

<!--Register card-->
<md-grid-list cols="1" rowHeight="1500">
  <md-grid-tile>
    <!--card Start-->
    <md-card class="loginCard">
      <md-card-title>Registration</md-card-title>
      <md-card-content>
        <form [formGroup]="userForm">

          <!--Personal info division-->
          <div class="division">
            Personal Details
          </div>

          <!--First Name-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">perm_identity</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="fname" id="fname" type="text" class="validate" placeholder="First Name" />
                <md-hint align="start" class="full-width">
                  <div *ngIf="userForm.get('fname').hasError('required') && userForm.get('fname').touched" class="errorStyle">
                    First Name is required
                  </div>
                  <div *ngIf="userForm.get('fname').hasError('pattern')" class="errorStyle">
                    First Name is too small
                  </div>
                  <!--<app-control-messages [control]="userForm.controls.fname" class="errorStyle"></app-control-messages>-->
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--Last Name-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">perm_identity</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="lname" id="lname" type="text" class="validate" placeholder="Last Name" />
                <md-hint align="start" class="full-width">
                  <div *ngIf="userForm.get('lname').hasError('required') && userForm.get('lname').touched" class="errorStyle">
                    Last Name is required
                  </div>
                  <!--<div *ngIf="userForm.get('lname').hasError('pattern')" class="errorStyle">
                    Last Name is too small
                  </div>-->
                  <!--<app-control-messages [control]="userForm.controls.lname" class="errorStyle"></app-control-messages>-->
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--Gender-->
          <div fxLayout="row" fxLayoutAlign="start end" class="gender">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons levelIcon">wc</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93" class="full-width">
              <md-radio-group formControlName="gender">
                <md-radio-button value="male">Male</md-radio-button>
                <md-radio-button value="female">Female</md-radio-button>
              </md-radio-group>
            </div>
          </div>

          <!--Account info division-->
          <div class="division">
            Account Details
          </div>
          <!--Registration ID-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">assignment_ind</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="regId" id="regId" type="text" class="validate" placeholder="Registration Id" />
                <md-hint align="start" class="full-width">
                  <div *ngIf="userForm.get('regId').hasError('required') && userForm.get('regId').touched" class="errorStyle">
                    Registration ID is required
                  </div>
                  <!--<app-control-messages [control]="userForm.controls.regId" class="errorStyle"></app-control-messages>-->
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--Date of Birth-->
          <!--<div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex>
              <md2-datepicker formControlName="dob" [(ngModel)]="date" class="full-width">date</md2-datepicker>
            </div>
          </div>-->

          <!--Email-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">mail</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="email" id="email" [readonly]="emailDisable" type="text" class="validate" placeholder="Email"
                />
                <md-hint align="start" class="full-width">
                  <!--<div *ngIf="userForm.get('aadhar').hasError('pattern')" class="errorStyle">Invaild Email</div>-->
                  <!--<app-control-messages [control]="userForm.controls.email" class="errorStyle"></app-control-messages>-->
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--Adhar-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">chrome_reader_mode</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="aadhar" id="aadhar" type="text" class="validate" placeholder="Aadhar No. (Optional)" />
                <md-hint align="start" class="full-width">
                  <div *ngIf="userForm.get('aadhar').hasError('pattern')" class="errorStyle">Invaild Aadhar</div>
                  <!--<app-control-messages [control]="userForm.controls.aadhar" class="errorStyle"></app-control-messages>-->
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--passowrd-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">lock</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="password" id="password" type="password" class="validate" #password (blur)="passwordValue(password.value)"
                  placeholder="Password" />
                <md-hint align="start" class="full-width">
                  <div *ngIf="userForm.get('password').hasError('required') && userForm.get('password').touched" class="errorStyle">
                    Password is required
                  </div>
                  <div *ngIf="userForm.get('password').hasError('pattern')" class="errorStyle">
                    Invalid password. Password must be at least 6 characters long, and contain a number
                  </div>
                  <!--<app-control-messages [control]="userForm.controls.password" class="errorStyle"></app-control-messages>-->
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--confirm password-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">lock</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="conPassword" id="conPassword" type="password" class="validate" #conPassword (keyup)="conPasswordValue(conPassword.value)"
                  placeholder="Confirm Password" />
                <md-hint align="start" class="full-width">
                  <div *ngIf="userForm.get('conPassword').hasError('required') && userForm.get('conPassword').touched" class="errorStyle">
                    Confirm Password is required
                  </div>
                  <div *ngIf="passwordMatchWarning" class="errorStyle">{{passwordMatchWarning}}</div>
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--Contact info division-->
          <div class="division">
            Contact Details
          </div>

          <!--Mobile No-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">call</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="mob" id="mob" type="text" class="validate" placeholder="Mobile No." />
                <md-hint align="start" class="full-width">
                  <div *ngIf="userForm.get('mob').hasError('pattern')" class="errorStyle">Invaild Mobile</div>
                  <div *ngIf="userForm.get('mob').hasError('required') && userForm.get('mob').touched" class="errorStyle">
                    Mobile No. is required
                  </div>
                  <!--<app-control-messages [control]="userForm.controls.mob" class="errorStyle"></app-control-messages>-->
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--Profession-->
          <div fxLayout="row" fxLayoutAlign="start end" class="dropdown">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons levelIcon">layers</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-select placeholder="Profession" formControlName="profession" class="full-width">
                <md-option *ngFor="let pro of profession" color="accent" [value]="pro.value">
                  {{ pro.name }}
                </md-option>
              </md-select>
            </div>
          </div>

          <!--location Pincode-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">dialpad</i>
            </div>
            <div fxFlex>
              <md-input-container class="full-width">
                <input mdInput formControlName="pincode" id="pincode" type="text" class="validate" placeholder="Pincode" (keyup)="getPincode()"
                  [(ngModel)]="pincode" />
                <md-hint align="start" class="full-width">
                  <div *ngIf="userForm.get('pincode').hasError('pattern')" class="errorStyle">Invaild Pincode</div>
                  <div *ngIf="userForm.get('pincode').hasError('required') && userForm.get('pincode').touched" class="errorStyle">
                    Pincode is required
                  </div>
                  <!--<app-control-messages [control]="userForm.controls.pincode" class="errorStyle"></app-control-messages>-->
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--location area-->
          <div fxLayout="row" fxLayoutAlign="start end" class="dropdown">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons levelIcon">my_location</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-select formControlName="location" placeholder="Select Location" class="full-width">
                <md-option *ngFor="let area of areaList" [value]="area">
                  {{ area }}
                </md-option>
              </md-select>
            </div>
          </div>
          <!--placementCenter-->
          <div fxLayout="row" fxLayoutAlign="start end" class="dropdown">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons levelIcon">person_pin_circle</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-select placeholder="Placement Center" formControlName="placementCenter" class="full-width">
                <md-option *ngFor="let center of placementCenter" [value]="center.value">
                  {{ center.name }}
                </md-option>
              </md-select>
            </div>
          </div>

          <!--Register Button-->
          <div fxLayout="row">
            <button md-raised-button color="primary" class="full-width registerBtn" type="submit" (click)="onRegister(userForm)" id="resetBtn"
              [disabled]="userForm.valid">Register</button>
          </div>

        </form>
      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>

<!--footer-->
<app-login-footer></app-login-footer>